# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project-specific
cpp-cgdk/.vs
cpp-cgdk/*.vspx
cpp-cgdk/*.diagsession
cpp-cgdk/cpp-cgdk.VC*
local-runner/plugins/*.class
local-runner/plugins/model/*.class
local-runner/*.log
local-runner/*.json
cpp-cgdk/*.i-*
cpp-cgdk/*.suppress
cpp-cgdk/*.zip
cpp-cgdk/*.log
*.zip
